<div>
    <center><h2>Efetue seu login</h2></center>

    <div class="card">
        <div class="card-body">
            <form action="/user/login" method="post">
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Digite seu email de cadastro" required>
                </div>
                <div class="form-group">
                    <label for="pass">Senha:</label>
                    <input type="password" class="form-control" id="pass" name="pass" aria-describedby="emailHelp" placeholder="Digite sua senha de cadastro" required>
                </div>
                <button type="submit" class="btn btn-success btn-edit">Efetuar login</button>
            </form>
        </div>
    </div>
</div>