<div>
    <center><h2>Painel administrativo</h2></center>

    <div class="container">
        <div class="row">
            <div class="col">
                <center><h4>Cadastros</h4></center>
                <hr>
                <div class="card">
                    <div class="card-header">
                        <center>
                            <h4>Cadastrar categoria</h4>
                        </center>
                    </div>
                    <div class="card-body">
                        <a href="/admin/category/register" class="btn btn-primary btn-edit">Ir ao cadastro</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <center>
                            <h4>Cadastrar postagem</h4>
                        </center>
                    </div>
                    <div class="card-body">
                        <a href="/admin/posts/register" class="btn btn-primary btn-edit">Ir ao cadastro</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <center><h4>Visualizações</h4></center>
                <hr>
                <div class="card">
                    <div class="card-header">
                        <center>
                            <h4>Visualizar categorias</h4>
                        </center>
                    </div>
                    <div class="card-body">
                        <a href="/admin/category/" class="btn btn-primary btn-edit">Ir as categorias</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <center>
                            <h4>Visualizar categorias</h4>
                        </center>
                    </div>
                    <div class="card-body">
                        <a href="/admin/posts/" class="btn btn-primary btn-edit">Ir as postagens</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>